.formBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

.inputBoxes{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: none;
    padding: 30px;
    box-shadow: 0 10px 15px rgb(66 66 66 / 19%);
    background-color: white;
}
.inputBox{
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    width: 350px;
    border: none;
    border-bottom: 1px solid rgb(151, 216, 208);
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
    background-color: transparent;
    outline: none;
}

.inputBox:hover{
    border-color: rgb(138, 242, 230);
}

.inputBox:focus{
    border-bottom: 1px solid rgb(138, 242, 230);
    border-bottom-width: 2px ;
}

.message{
    height: 100px;
}

.submitBtn{
    width: 115px;
    height: 30px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(63, 180, 167);
    color: white;
    margin-top: 20px;
}
.redBox{
    border-color: red;
}
@media only screen and (max-width: 500px) {
    .inputBox{
        width: 290px;
    }   
    .inputBoxes{
        padding: 15px;
    }
}