@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.reach{
    background-color:rgb(245 255 255 / 83%);
    height: 150px;
    display: flex;
    justify-content: center;
    height: 170px;
    align-items: center;
}
.box_reach{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon_box img{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    margin:10px 10px;
}
.social{
    display:grid;
    grid-template-columns: repeat(5, 60px);
    height: 60px;
    grid-column-gap: 15px;
}
.cp{
    display: grid;
    grid-template-columns: repeat(2,60px);
    height: 60px;
    grid-column-gap: 15px;
}
h1{
    text-align:center;
    font-size:1.5rem;
    font-family:'Poppins' ;
}

.icon_box img:hover{
    width: 65px;
    height: 65px;
    transition: height 0.2s, width 0.2s;
}

.box_reach{
    width: 50%;
}
.icon_circle{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.icon_box a{
    color: #323044;
    font-size: 40px;
}
.icon_circle svg{
    align-content: center;
}
.social a{
    font-size: 30px;
}
.icon_circle:hover svg{
    color: rgb(134, 132, 128);
}
@media only screen and (max-width: 900px) {
    .reach{
        flex-direction: column;
        height: 350px;
    }
    .box_reach{
        margin-top: 30px;
        margin-bottom: 20px;
        width: 100%;
    }
    .social{
        grid-template-columns: repeat(5,50px);
        height: 50px;
        grid-column-gap: 15px;
    }
    .cp{
        grid-template-columns: repeat(2,50px);
        height: 50px;
        grid-column-gap: 15px;
    }
    .cp a{
        font-size: 30px;
    }
    
}
@media only screen and (max-width: 400px) {
    .social img{
        width: 45px;
        height: 45px;
    }
    .social img:hover{
        width: 50px;
        height: 50px;
    }
    .reach{
        padding-bottom: 30px;
    }
}


