 .front{
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.left{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left img{
    width: 700px;
    height: 430px;
    position: relative;
    margin-top: 50px;
}
/* .left::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background:rgb(165, 228, 225);
    opacity: 10%;
} */
.name-txt{
    font-size: 2rem;
    text-align: center;
    width: 70%;
    color: black;
    background-color: white;
}
.profile-pic img{
    width: 300px;
    height: 300px;
    margin: 30px 0px;
}
.abt_me{
  display: flex;
  flex-direction: column;
  background-color: rgb(253 240 240);
}
.abt_me h1{
   font-size: 2rem;
   margin-top: 30px;
}
.para{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.para1{
  margin: auto; 
  margin-top: 40px;
  width: 60%;
  text-align: center;
}

.point_det{
  display: grid;
  grid-template-columns: repeat(4,auto);
  margin: 10px auto;
  padding: 0px;
  grid-column-gap: 100px ;
  margin-top: 30px;
  margin-bottom: 25px;
}
.hrhome{
  width: 50%;
  background-color: rgb(158, 153, 153);
  margin: auto;
  display: block;
}
.ico{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.ico img{
  width: 30px;
  height: 30px;
}
.ico p{
  margin-top: 2px;
  margin-left: 6px;
  margin-bottom: 0px;
}
.skills{
  padding-top: 40px;
}
.skills h1{
  font-size: 2rem;
}
.skill_tag{
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  margin-top: 40px;
  margin-bottom: 30px; 
  border: solid rgb(181, 181, 187) 1px;
  border-radius: 10px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 30px;
}
.img_skill{
  display: flex;
  justify-content: center;
  width: 35%;
  margin-left: 10px;
}
.skill_tag h1{
  font-size: 1.5rem;
  text-align: left;
}
.skill_tag:hover{
  box-shadow: rgb(211, 230, 233) 0.7px 0.7px 1.2px 1.2px;
}
.skill_det{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
.skill_tag img{
  width: 110px;
  height: 110px;
}
.skill_det span{
  color: rgb(43, 9, 9);
  font-weight: bold;
}
.skills hr{
  background-color: black;
}
/* Typing Animation */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.right{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: white;
}
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: rgb(53, 46, 46);
  font-size:  2rem;
  font-weight: 400;
  background-color: white;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height:  3rem;
  line-height:  3rem;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: black;
  font-size:  2rem;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
  background-color: white;
}
@keyframes slide {
  100%{
    top: -12rem;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height:  3rem;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 2px solid black;
  animation: typing 3s steps(10) infinite;
}
.dynamic-txts{
    padding-left: 5px;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 0.5rem);
  }
  100%{
    left: 0;
  }
}

@media only screen and (max-width: 1250px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wrapper .static-txt{
        font-size: 1.5rem;
        text-align: center;
      }
      .wrapper .dynamic-txts{
        height:  2.25rem;
        line-height:  2.25rem;
      }
      @keyframes slide {
        100%{
          top: -9rem;
        }
      }
      .dynamic-txts li span{
        line-height:  2.25rem;
      }
      .dynamic-txts li{
          font-size: 1.5rem;
      }
    
}
@media only screen and (max-width: 1050px){
    .front{
        flex-direction: column;
    }
    .left{
        height: 50vh;
    }
    .right{
        height: 650px;
    }
    .left img{
        margin-top: 100px;
    }
    .para1{
      width: 75%;
    }  
}
@media only screen and (max-width: 1000px) {
  .point_det{
    grid-column-gap: 50px;
  }
}  
@media only screen and (max-width: 900px) {
  .point_det{
    grid-template-columns: repeat(2,auto);
    grid-row-gap: 30px ;
  }

}
@media only screen and (max-width: 800px) {
  .skill_tag{
    width: 600px;
  }

}

@media only screen and (max-width: 700px) {
  .left img{
    width: 80%;
    height: 300px;
  }
  .skill_tag{
    width: 450px;
  }
  .skill_tag h1{
    font-size: 1.1rem;
  }
  .skill_tag p{
    font-size: 1rem;
  }
  
}
@media only screen and (max-width: 500px) { 
    .left{
        height: 60vh;
    }
    .left img{
      height: 250px;
      width: 100%;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wrapper .static-txt{
        font-size: 1.3rem;
        text-align: center;
      }
      .wrapper .dynamic-txts{
        height:  1.95rem;
        line-height:  1.95rem;
      }
      @keyframes slide {
        100%{
          top: -7.8rem;
        }
      }
      .dynamic-txts li span{
        line-height:  1.95rem;
      }
      .dynamic-txts li{
          font-size: 1.3rem;
      }
      .name-txt{
          font-size: 1.4rem;
          width: 70%;
      }
      .right{
        height: 650px;
    }
    .point_det{
      grid-template-columns: repeat(1,auto);
    }
    .skill_tag{
      flex-direction: column;
      width: 80%;
    }
    .skill_det{
      padding-top: 30px;
    }
    .img_skill{
      margin-left: 0px;
      width: 100%;
    }
}
@media only screen and (max-width: 400px) {
  .left img{
    height: 200px;
    margin-top: 100px;
  }
  .left{
    height: 250px;
  }
  .skill_det{
    margin-left: 20px;
  }
}