@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins';
}

.bg-light{
    opacity: 0.95;
}
.navbar-nav{
    margin-left: auto !important;
    margin-right: 35px;
}
.nav-item{
    margin: auto 30px;
}

.nav-item a{
    color: rgb(54, 54, 54);
    font-size: 1rem;
}

.navbar-brand img{
    margin-left: 50px;
}
@media only screen and (max-width:991px) {
   
    .nav-item{
        margin-left: 0px;
    }
    .nav-item a{
        font-size: 1.2rem;
        margin-left: 10px;
    }
    .navbar-brand img{
        margin-left: 10px;
    }
}

