@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins';
}
.navbar-nav{
    margin-left: 40%;
}
.nav-item{
    margin: auto 30px;
}
.nav-item:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(225, 226, 226) 0.5px 0.5px 1px 1px;
    border-radius: 15px;
    
}
.nav-item a{
    color: rgb(54, 54, 54);
    font-size: 1rem;
}
.navbar-brand img{
    margin-left: 10px;
}
@media only screen and (max-width : 1450px) {
    .navbar-nav{
        margin-left: 40%;
    }
    
}
@media only screen and (max-width : 1300px) {
    .navbar-nav{
        margin-left: 35%;
    }
    
}


@media only screen and (max-width : 1200px) {
    .navbar-nav{
        margin-left: 30%;
    }
    
}
@media only screen and (max-width : 1100px) {
    .navbar-nav{
        margin-left: 20%;
    }
    
}


@media only screen and (max-width:991px) {
    .navbar-nav{
        margin-left: 5px;
    }
    .nav-item{
        margin-left: 0px;
    }
    .nav-item a{
        font-size: 1.2rem;
        margin-left: 10px;
    }
    .navbar-brand img{
        margin-left: 10px;
    }
}

