/*Navigation Bar*/
html {
    scroll-behavior: smooth;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    height: 100%;
  }
  
  body {
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
  }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins';
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    cursor: pointer;
    height: 70px;
    width: 100%;
    border: none;
    z-index: 30;
}
.navbar hr{
    display: none;
}
.nav-list{
    margin-left: 46%;
    margin-right: 10%;
    width: 100%;
    display: flex;
    border: none;
}
.nav-list li{
    list-style: none;
}
.nav-list li a{
    text-decoration: none;
    color: rgb(75, 73, 73);
    font-size: 1rem;
}
.nav_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2% 3%;
    padding: 7px 13px;
}
.nav_icon:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(225, 226, 226) 0.5px 0.5px 1px 1px;
    border-radius: 15px;
}

.background{
    background: rgb(245 255 255) ;
    background-size: cover;
    background-blend-mode: darken;
    z-index: 20;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 55px;
    top:11px;
    z-index: 100;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
    z-index: 100;
}
.nav_icon p{
    color: rgb(176, 179, 182) ;
}
.current{
    text-decoration :underline;
    text-underline-position: under;
    text-decoration-color: cyan ;
}

@media only screen and (max-width : 1200px) {
    .nav-list{
        margin-left: 35%;
    }
    
}

@media only screen and (max-width : 1000px) {
    .nav-list{
        margin-left: 30%;
    }
    
}
@media only screen and (max-width:900px)
{
    /*Navigation*/
    .nav-list{
        flex-direction: column;
        padding: 0px;
        align-items: center;
        margin: 0px;
        margin-top: 98px;
        z-index: 10;
    }
    .navbar{
        height: 100%;
        width: 100%;
        flex-direction: column;
        border: 1px solid white;
        transition: all 0.7s ease-out;
        position: fixed;
        right: 0px;
        padding: 0px;
        z-index: 50;
        border: none;
    }
    .burger {
    display: inline-block;
    cursor: pointer;
    }

#bar1, #bar2, #bar3 {
  width: 35px;
  height: 2px;
  background-color: rgb(141, 138, 138);
  margin: 6px 0;
  transition: 0.4s;
}

.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {opacity: 0;}

.change #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
    .h-nav-resp{
        height: 100%;
        width: 0%;
    }
    .v-class-resp{
        display: none; 
    }
    .section{
        flex-direction: column-reverse;
    }
    .nav-list li a{
        font-size: 2rem;
    }
    .nav-list li{
        text-align: center;
    }
    .navbar a:hover{
        font-size: 2.1rem;
    }

    .navbar hr{
        display: none;
        width: 100%;
    }
    #login{
        display: none;
    }
    #sign{
        display: flex;
    }
    .current{
        text-decoration: none;
        background-color: #626262;
        margin: 0px;
    }
    .nav_icon{
        width: 100%;
        padding: 20px 0px;
        margin: 2px;
    }
    .logo{
        top: 22px;
    }
    #black_top{
        display: block;
        position: fixed;
        top: 0px;
        height: 60px;
        width: 100%;
        background-color: rgb(245 255 255);
        z-index: 20;
      }
}
